.fadeInWidth {
  animation: 0.2s linear fadeInWidth;
}

.fadeOutWidth {
  animation: 0.2s linear fadeOutWidth;
}

.fadeIn {
  animation: 0.8s linear fadeIn;
}
.fadeOut {
  animation: 1s linear fadeOut;
}
.search-input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  padding: 0px 15px;
  transition: width 0.4s linear;
  caret-color: rgb(160, 207, 203);
  transition: all 0.5s ease-in-out;
  transition: all 500ms cubic-bezier(0, 0.5, 0.35, 2);
}

.searchbar {
  width: 530px;
  height: 60px;
  background-color: #83ceb7;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.searchbutton:hover {
  background-color: black !important;
}
.searchbarclose {
  width: 50px;
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
  transition: all 0.3s ease-in;
}
.movesearchbar {
  text-align: right;
  animation: 0.2s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: all 0.5s ease-in-out;
}
.searchbutton {
  animation-timing-function: ease-out;
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
}
@keyframes mymove {
  from {
    left: 0px;
  }
  to {
    left: 300px;
  }
}
