.slick-prev:before, .slick-next:before {
    color: #FFFF !important;
  }
  .slick-prev:before{
    color: #FFFF !important;
  
  }
.slick-next{
    right: 40px !important;
    bottom: 3rem !important;
    top: 90% !important;
    width: 30px !important;
    background-color: #ffff;
  }
  .slick-prev{
    right: 4rem !important;
    width: 30px !important;
    bottom: 3rem !important;
    top: 90% !important;
    z-index: 1 !important;
    left: auto !important;
    background-color: #ffff;
  }
  .slick-slide img {
  opacity: 0.9 !important;
}
.managementcard{
    justify-content: space-around;
    display: flex;
    padding: 60px 60px 70px 60px;
}
.diskimg{
  max-width: 440px;
  width: 100%;
  object-fit: contain;
}
@media only screen and (max-width: 1440px){
  .diskimg{
    max-width: 300px;
    width: 100%;
 
  } 
}

@media only screen and (max-width: 1300px){
  .diskimg{
    max-width: 260px;
    width: 100%;
 
  } 
}


@media only screen and (max-width: 1200px){
  .managementcard{
    flex-wrap: wrap;
    padding: 40px 40px 60px 40px;
    gap: 30px;
  }
  .controlhero{
    width: 80% !important;
  }
  .diskimghero{
    flex-wrap: wrap;
  }
  .ticketshero,.ticketsheroend{
    flex-direction: column-reverse !important;
    display: flex !important;
    gap: 50px !important;
  }
  .publicimghero{
    justify-content: center;
  }
}
@media only screen and (max-width: 991px){
  .mobileimgshero, .searchhero{
    flex-wrap: wrap ;
    gap: 30px;
  }
  .searchhero{
    gap: 50px !important;
    flex-direction: column !important;
  }
  .singerimg{
    height: 440px !important;
  }
  .publicimghero{
    flex-wrap: wrap;
    width: 100% !important;
  }
 .searchherotwo, .searchheroone, .singerimg, .controlhero, .light1hero{
  width: 80% !important;
 }
}
@media only screen and (max-width: 768px){
  .wolveshero{
    top: 12% !important;
    left: 39px !important;
  }
  .wolvesheader{
    font-size: 25px !important;
  }
  .consecteturhero{
    padding: 40px 40px !important;
  }
  .diskimg {
    max-width: 445px;
    width: 100%;
} 
.mobileimgshero{
  padding: 0px 50px ;
}
.mobileimg{
  width: 100%;
}
.ticketshero{
  padding: 0px 40px 60px 40px !important;
}
.ticketsheroend{
  padding: 0px 0px 60px 0px !important;

}
}
@media only screen and (max-width: 500px){
  .wolvesheader{
    width: 300px !important;
  }
  .ametheader, .designheader {
    font-size: 25px !important;
  }
  .diskimgparent{
    padding: 0px !important;
  }
}